.title {
  font-weight: 700;
  color: #3f51b5;
}

.card-link {
  text-decoration: none;
}

.custom-card {
  border-radius: 15px;
  transition: transform 0.3s ease, box-shadow 0.3s ease;
  padding: 1.5rem;
  height: 100%;
}

.custom-card:hover {
  transform: translateY(-5px);
  box-shadow: 0 12px 20px rgba(0, 0, 0, 0.2);
}
