
<div class="navbar">
  <button pButton type="button" label="Login" (click)="irALogin()"></button>
  <button pButton type="button" label="Registro" (click)="irARegistro()"></button>
  <button pButton type="button" label="Home" (click)="irAHome()"></button>
  <button pButton type="button" label="Pages" (click)="irAPages()"></button>
  <button pButton type="button" label="Categorias" (click)="irACategorias()"></button>
  <button pButton type="button" label="Clientes" (click)="irAClientes()"></button>
  <button pButton type="button" label="Compras" (click)="irACompras()"></button>
  <button pButton type="button" label="Productos" (click)="irAProductos()"></button>
  <button pButton type="button" label="Proveedores" (click)="irAProveedores()"></button>
  <button pButton type="button" label="Ventas" (click)="irAVentas()"></button>
</div>
<router-outlet></router-outlet>