<div class="login-container">
  <h2>Iniciar Sesión</h2>

  <form (ngSubmit)="login()" #loginForm="ngForm">
    <!-- Email -->
    <div class="input-icon-group">
      <div class="icon-input-wrapper">
        <span>📧</span>
        <input
          type="email"
          name="email"
          [(ngModel)]="email"
          required
          placeholder="Correo electrónico"
        />
      </div>
    </div>

    <!-- Contraseña -->
    <div class="input-icon-group">
      <div class="icon-input-wrapper">
        <span>🔒</span>
        <input
          type="password"
          name="password"
          [(ngModel)]="password"
          required
          placeholder="Contraseña"
        />
      </div>
    </div>

    <!-- Mensaje de error -->
    <div *ngIf="error" class="error">{{ error }}</div>

    <!-- Botón de inicio de sesión -->
    <button type="submit" [disabled]="!loginForm.form.valid">
      Iniciar sesión
    </button>
  </form>

  <!-- Enlace para registrarse -->
  <div class="register-link">
    ¿No tienes cuenta?
    <a routerLink="/register">Regístrate aquí</a>
  </div>
</div>
