<!-- Layout principal con barra de navegación y router-outlet -->
<div class="layout-container">
  <!-- Barra de navegación -->
  <nav class="navbar">
    <div class="navbar-buttons">
    <button pButton type="button" label="Home" (click)="irAHome()">Home</button>
    <button pButton type="button" label="Pages" (click)="irAPages()">Pages</button>
    <button pButton type="button" label="Categorias" (click)="irACategorias()">Categorias</button>
    <button pButton type="button" label="Clientes" (click)="irAClientes()">Clientes</button>
    <button pButton type="button" label="Compras" (click)="irACompras()">Compras</button>
    <button pButton type="button" label="Productos" (click)="irAProductos()">Productos</button>
    <button pButton type="button" label="Proveedores" (click)="irAProveedores()">Proveedores</button>
    <button pButton type="button" label="Ventas" (click)="irAVentas()">Ventas</button>
  </div>
      <!-- Perfil de usuario -->
  <div class="user-profile">
    <p-menu #menu [popup]="true" [model]="perfilMenu">Cerrar Sesion</p-menu>
    <button pButton type="button" (click)="menu.toggle($event)">
  <span class="p-button-icon-left">
    <i class="fa-solid fa-circle-user"></i>
  </span>
  <span class="p-button-label"></span>
</button>


  </div>
  </nav>

  <!-- Contenido dinámico de rutas hijas -->
  <main class="main-content">
    <router-outlet></router-outlet>
  </main>
</div>
